body,p,section,header {
  font-family: Arial, Helvetica, sans-serif;
}
section {
  border-bottom: 2px solid gray;
}
.grid-container {
  display: grid;
  grid-template-columns: 25% 75%;
}
#nav-bar {
  display:flex;
  flex-direction: column;
}
